@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/MyriadPro-Regular.otf') format('opentype'), url('fonts/MyriadPro-Regular.woff') format('woff'), url('fonts/MyriadPro-Regular.ttf') format('truetype'), url('fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	background-color: #CAC7C7;
	margin: 0px;
	padding: 0px;
	width: 100vw;
	height: 100vh;
	min-width: 1024px;
	min-height: 800px;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: "MyriadPro-Regular", Arial, Helvetica, sans-serif;
}
h3 {
	text-align: center;
	margin-bottom: 0px;
}
h4 {
	text-align: center;
	font-size: 18px;
	margin: 10px 0px 0px;
}
header {
	background-color: #FFF;
	display: block;
	width: 100%;
	top: 0px;
	z-index: 3;
}
.logo_container {
	display: block;
	margin-left: 85px;
	width: 285px;
	padding: 10px;
	padding-bottom: 5px;
}
.logo_container img {
	width: 100%;
}
.social {
	position: absolute;
	top: 82px;
	right: 95px;
}
.social img {
	width: 40px;
	margin-left: 10px;
	background: #000;
	border-radius: 7px;
	opacity: 0.8;
}
.social img:hover {
	opacity: 1;
}
#extra {
	position: fixed;
	right: 95px;
	top: 155px;
	background: #000;
	width: 200px;
	height: 0px;
	border-radius: 7px;
	vertical-align: top;
	text-align: center;
	overflow: hidden;
	max-width: 320px;
	max-height: 100px;
	padding-top: 0px;
	z-index: 2;
}
#extra div {
	font-family: "MyriadPro-Regular", Arial;
	font-size: 16px;
	color: #FFF;
	text-align: center;
	position: relative;
	right: 18px;
	top: 21px;
	display: inline;
}
#extra img {
	width: 28px;
	cursor: pointer;
	position: relative;
	top: 3px;
	display: inline;
	left: 165px;
}
#extra a {
	color: #FFF;
	text-decoration: none;
	font-family: "MyriadPro-Regular", Arial;
	font-size: 26px;
	letter-spacing: 2.1px;
	/* font-weight:bold; */
	line-height: 26px;
	position: relative;
	top: 26px;
}
nav {
	display: block;
	margin-left: 93px;
	width: 390px;
	cursor: pointer;
}
nav a, nav label, .services, .about, .videos, .gallery{
	display: block;
	font-weight: 500;
	text-align: center;
	letter-spacing: 1.8px;
	font-family: "MyriadPro-Regular", Helvetica, sans-serif;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
	-webkit-font-size-delta: 14px;
	line-height: 14px;
	cursor: pointer;
}
nav a:hover, nav label:hover {
	background: black;
	color: white;
}
.seperator {
	font-family: "MyriadPro-Regular", Helvetica, sans-serif;
	font-size: 20px;
	vertical-align: top;
	float: left;
	margin-top: 2px;
}
.primary_nav {
	list-style: none;
	padding: 0px;
	margin: 5px 0 0 0;
	position: absolute;
	height: 26px;
	width: 482px;
	background-color: rgba(255, 255, 255, 0.75);
	-webkit-transition: background-color 3s;
	/* Safari 3.1 to 6.0 */
	transition: background-color 0.3s;
	top: 150px;
	cursor: pointer;
	z-index: 2;
}
.primary_nav:hover {
	background-color: rgba(255, 255, 255, 1);
}
.primary_nav>li {
	float: left;
	width: 96px;
	/* background-color: #FFF; */
	height: 24px;
}
.primary_nav>li:focus {
	border: none;
}
.services, .about, .videos, .gallery {
	border: none;
	background: none;
	width: 100%;
}
.services:disabled, .about:disabled, .videos:disabled, .gallery:disabled{
	background-color: #FFF;
}
.services:focus, .about:focus, .videos:focus, .gallery:focus{
	border: none;
	outline: none;
}
.primary_nav>li:last-child {
	width: 96px;
}
.primary_nav>li>a, .services, .about, .videos, .gallery {
	padding: 8px 0 4px 0;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	color: #000;
}
.primary_nav>li>a:hover, .services:hover, .about:hover , .videos:hover, .gallery:hover{
	color: #000;
	background-color: #FFF;
	text-decoration: underline;
}
.primary_nav>li>a.noDeco:hover {
	text-decoration: none;
}
.primary_nav>li>a:visited, .services:visited, .about:visited, .videos:visited, .gallery:visited {
	color: #000;
	text-decoration: none;
}
.secondary_nav {
	margin: 0px;
	padding: 0px;
	height: 0px;
	width: 129px;
	display: none;
	overflow-x: hidden;
	overflow-y: hidden;
}
.secondary_nav>li {
	display: block;
	list-style: none;
	overflow: hidden;
	width: 120px;
	background: #FFF;
}
.secondary_nav>li>a {
	padding: 7px 5px 5px 10px;
	margin-top: 0px;
	width: 100px;
	overflow: hidden;
	cursor: default;
	text-align: left;
}
.secondary_nav>li:hover {
	background-color: #000;
	color: #FFF;
}
.tertiary_nav {
	margin: 0px;
	padding: 0px;
	position: absolute;
	left: 120px;
	top: 26px;
	display: none;
	/* background-color: #000; */
	z-index: 0;
	overflow: hidden;
	width: 0px;
}
.tertiary_nav li {
	list-style: none;
	color: #FFF;
	border: none;
	background: #000;
}
.tertiary_nav>li>a {
	padding: 7px 3px 7px 9px;
	margin-top: 0px;
	text-align: left;
	height: 19px;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
}
.tertiary_nav>li>a:hover {
	text-decoration: underline;
}
.tertiary_nav a:visited {
	text-decoration: none;
	color: #FFF;
}
.main_wrapper {
	display: block;
	width: 100%;
	background-color: #000;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
}
/*.vegas-slide-inner {
  
	  background-size: auto 120%!important;
  
	  background-position: center center!important;
  
  }*/

.main_wrapper {
	display: block;
	width: 100%;
	height: 82%;
	filter: blur(0px) grayscale(0%);
	transition: filter 150ms;
	-webkit-filter: blur(0px) grayscale(0%);
	-webkit-transition: -webkit-filter 150ms linear;
}
#controls {
	list-style: none;
	position: absolute;
	bottom: 25px;
	right: 111px;
	padding: 1px 0px 2px 0px;
	height: 13px;
	border-radius: 8px;
}
#controls li {
	width: 7px;
	height: 7px;
	display: inline-block;
	margin: 0px;
	border: rgba(255, 255, 255, 0.35) 2px solid;
	border-radius: 8px;
	margin: 0px 2px;
	vertical-align: top;
	cursor: pointer;
}
.submenu .exit {
	position: absolute;
	right: 3%;
	top: 2%;
	width: 20px;
	margin-left: 10px;
	border-radius: 4px;
	opacity: 0.35;
	cursor: pointer;
	display: none;
}
.submenu .exit:hover {
	opacity: 0.75;
}
#thumb_side2 .exit,  .demo-gallery .exit {
	width: 20px;
	border-radius: 4px;
	opacity: 0.8;
	cursor: pointer;
	display: block;
	float: right;
	background: white;
}

#thumb_side2 .exit {
	position: relative;
	height: 20px;
}
.demo-gallery .exit:hover {
	opacity: 1;
}
#itemInfo {
	list-style: none;
	position: absolute;
	bottom: 20px;
	right: 95px;
	padding: 10px 10px;
	background-color: rgba(0, 0, 0, 0.55);
	height: 35px;
	border-radius: 8px;
	width: 336px;
}
#itemInfo li {
	color: #dad5ce;
	font-size: 16px;
	font-family: "MyriadPro-Regular", Helvetica, Sans-Serif;
	display: none;
	font-weight: bold;
	cursor: pointer;
	letter-spacing: 0.8px;
}
#itemInfo li:hover {
	color: #FFF
}
.blurred {
	filter: blur(8px) grayscale(75%);
	-webkit-filter: blur(10px) grayscale(75%);
	opacity: 1;
}
#controls li.active {
	background-color: rgba(255, 255, 255, 0.35);
}
.submenu {
	position: absolute;
	top: 195px;
	left: 93px;
	width: 288px;
	background-image: url('images/gradient.png');
	background-size: auto 100%;
}
.submenu div {
	display: none;
	text-align: center;
	margin-top: 30px;
	letter-spacing: 1.5px;
	font-family: "MyriadPro-Regular", Helvetica, sans-serif;
}
.submenu ul {
	display: block;
	list-style: none;
	text-align: center;
	padding: 0px;
	font-family: "MyriadPro-Regular", Helvetica, sans-serif;
	pointer-events: none;
	margin: 0px 0px 65px 0px;
}
.submenu ul a {
	color: #000000;
	text-decoration: none;
}
.submenu ul a:hover {
	font-weight: bold;
}
.submenu label {
	font-size: 16px;
	font-weight: bold;
	pointer-events: all;
	font-family: "MyriadPro-Regular", Helvetica, sans-serif;
}
.submenu li {
	margin-top: 6px;
	pointer-events: all;
	cursor: pointer;
}
.submenu a {
	display: block;
	color: #000;
	text-decoration: none;
	cursor: pointer;
	margin-top: 4px;
	font-size: 14px;
	text-align: left;
	margin-left: 12px;
}
.submenu a:hover {
	font-weight: bold
}

small {
	
		text-align: left;
		width: 100%;
		display: block;
		margin-left: 12px;
		color: #424242;
		font-size: 12px;
		text-decoration: underline;
	
}

.thumb_side, .thumb_side2  {
	display: none;
	position: absolute;
	left: 500px;
	top: 190px;
	height: 66%;
	max-width: 1000px;
	overflow: auto;
	padding-right: 40px;
	/* width: 46%; */
}
.thumb_side img, .thumb_side2 img  {
	height: 185px;
	margin: 10px;
	border: 2px #FFF solid;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 10px 0px;
	transition: box-shadow 0.25s ease-in-out;
}
.thumb_side img.HL {
	box-shadow: rgba(12, 12, 12, 0.55) 0px 0px 8px 5px;
}
footer {
	background: #FFF;
	padding: 10px 10px 0px 10px;
	margin-top: 10px;
	display: block;
	min-height: 36px;
	bottom: 0px;
	width: 99%;
	position: fixed;
}
footer div {
	background: #FFF;
	display: block;
	width: 376px;
	height: 36px;
	min-height: 36px;
	margin-left: auto;
	margin-right: auto;
}
footer p {
	float: left;
	text-align: center;
	font-size: 12px;
	vertical-align: middle;
	padding: 0px;
	margin-top: 9px;
	font-family: "MyriadPro-Regular", Helvetica, sans-serif;
	font-size: 14px;
}
footer img {
	width: 30px;
	float: right;
	margin-left: 8px;
	opacity: 0.9;
}
footer img:hover {
	opacity: 1;
	background-color: black;
	border-radius: 10px;
}
#serviceWrap {
	position: relative;
	width: 650px;
	height: 0px;
	margin: auto;
	bottom: 60%;
	margin-bottom: 250px;
	background-image: url('images/gradient.png');
	background-color: rgba(255, 255, 255, 0.80);
	overflow: hidden;
}
#serviceWrap ul {
	list-style: none;
	margin: 10px auto;
	padding: 0px;
	display: block;
	width: 94%;
}
#serviceWrap ul li {
	float: left;
	margin: auto;
	text-align: center;
	width: 25%;
	padding: 10px 0px;
}
#serviceWrap ul li img {
	width: 80px;
	margin: auto;
	display: block;
}
#serviceWrap .exit, #aboutWrap .exit {
	position: absolute;
	right: 7px;
	top: 7px;
	width: 15px;
	cursor: pointer;
	opacity: 0.70;
	overflow: hidden;
}
#serviceWrap .exit:hover {
	opacity: 1;
}
#serviceWrap a, #serviceWrap a:visited {
	color: #000;
	text-decoration: none;
}
#serviceWrap a:hover {
	text-decoration: underline;
}

.demo-gallery {
	display: none;
}
#aboutWrap {
	position: relative;
	width: 730px;
	height: 0px;
	margin: auto;
	bottom: 100%;
	margin-bottom: 250px;
	background-image: url('images/gradient.png');
	background-color: rgba(255, 255, 255, 0.95);
	overflow: hidden;
	padding: 0px 35px;
}
#aboutWrap p {
	font-size: 15px;
	text-align: justify;
	line-height: 20px;
	margin: 5px 0px;
}
.demo-gallery {
	position: absolute;
	top: 300px;
	left: 524px;
}
.demo-gallery>ul {
	margin-bottom: 0;
}
.demo-gallery>ul>li {
	list-style:none;
	float: left;
	margin-bottom: 15px;
	margin-right: 20px;
	width: 200px;
}
.demo-gallery>ul>li a {
	border: 3px solid #FFF;
	border-radius: 3px;
	display: block;
	overflow: hidden;
	position: relative;
	float: left;
}
.demo-gallery>ul>li a>img {
	-webkit-transition: -webkit-transform 0.15s ease 0s;
	-moz-transition: -moz-transform 0.15s ease 0s;
	-o-transition: -o-transform 0.15s ease 0s;
	transition: transform 0.15s ease 0s;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	height: 100%;
	width: 100%;
}
.demo-gallery>ul>li a:hover>img {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery>ul>li a:hover .demo-gallery-poster>img {
	opacity: 1;
}
.demo-gallery>ul>li a .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.1);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: background-color 0.15s ease 0s;
	-o-transition: background-color 0.15s ease 0s;
	transition: background-color 0.15s ease 0s;
}
.demo-gallery>ul>li a .demo-gallery-poster>img {
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
	opacity: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: opacity 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
}
.demo-gallery>ul>li a:hover .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .justified-gallery>a>img {
	-webkit-transition: -webkit-transform 0.15s ease 0s;
	-moz-transition: -moz-transform 0.15s ease 0s;
	-o-transition: -o-transform 0.15s ease 0s;
	transition: transform 0.15s ease 0s;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	height: 100%;
	width: 100%;
}
.demo-gallery .justified-gallery>a:hover>img {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery .justified-gallery>a:hover .demo-gallery-poster>img {
	opacity: 1;
}
.demo-gallery .justified-gallery>a .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.1);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: background-color 0.15s ease 0s;
	-o-transition: background-color 0.15s ease 0s;
	transition: background-color 0.15s ease 0s;
}
.demo-gallery .justified-gallery>a .demo-gallery-poster>img {
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
	opacity: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: opacity 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
}
.demo-gallery .justified-gallery>a:hover .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .video .demo-gallery-poster img {
	height: 48px;
	margin-left: -24px;
	margin-top: -24px;
	opacity: 0.8;
	width: 48px;
}
.demo-gallery.dark>ul>li a {
	border: 3px solid #04070a;
}
.home .demo-gallery {
	padding-bottom: 80px;
}

#video-gal {
    padding: 0px 12%;
    width: 76%;
    left: 0px;
}

#video-gal-inner {
	padding: 10%;
	padding-top: 0px;
	display: flex;
	justify-content: center;
}

#video-gal-inner>li {
    
    width: 360px;
}

#thumb_side2 {
	display: none;
    width: 100vw;
    max-width: unset;
    left: 0;
	padding-top: 50px
}

#thumb_side2 .mCustomScrollBox {
	max-height: none;
    width: 80%;
    margin: auto;
}

#thumb_side2 .mCustomScrollBox .mCSB_container, #thumb_side .mCustomScrollBox .mCSB_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}

#thumb_side2 .new-thumbb img{
		width: 330px;
		cursor: pointer;
		margin-bottom: 0px;
		border-bottom: 0px;
	
}

.thumb_side .new-thumbb img{
	width: 280px;
	cursor: pointer;
	margin-bottom: 0px;
	border-bottom: 0px;

}

#thumb_side2 .new-thumbb:hover img, #thumb_side .new-thumbb:hover img, #thumb_side .new-thumbb:hover p, #thumb_side2 .new-thumbb:hover p{
	 font-weight: bold;
     box-shadow: rgba(0, 0, 0, 0.85) 2px 2px 10px 0px;

}


#thumb_side2 .new-thumbb p, #thumb_side .new-thumbb p{
	margin-left: 10px;
    margin-top: -6px;
    margin-right: 10px;
    background-color: white;
    padding-top: 14px;
    padding-left: 8px;
    padding-bottom: 6px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 10px 0px;
    cursor: pointer;
}


#thumb_side .new-thumbb p {
	width: 276px;
}

#thumb_side.mCustomScrollbar {
	display: block;
}

#thumb_side {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
